<div class="container">
  <div ng-if="!userPageCtrl.signedIn">
    Not Signed Up Yet. <a ui-sref="public.subscribe">Sign up Now!</a>
  </div>
  <div ng-if="userPageCtrl.signedIn">
    <h2>
      Hi, {{ userPageCtrl.user.firstName }} {{ userPageCtrl.user.lastName }}!
    </h2>
    <div>Phone: {{ userPageCtrl.user.phone }}</div>
    <div>Email: {{userPageCtrl.user.email }}</div>
    <div>
      <span>Your favorite dish:</span>
      <span><menu-item menu-item="userPageCtrl.menuItem"></menu-item></span>
    </div>
  </div>
</div>
